<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   xmlns:osb="http://www.openswatchbook.org/uri/2009/osb"
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="117.36859mm"
   height="28.543697mm"
   viewBox="0 0 415.87296 101.13908"
   id="svg2"
   version="1.1"
   inkscape:version="0.91 r13725"
   sodipodi:docname="test.svg">
  <defs
     id="defs4">
    <linearGradient
       id="linearGradient4528"
       osb:paint="solid">
      <stop
         style="stop-color:#f5f5f5;stop-opacity:1;"
         offset="0"
         id="stop4530" />
    </linearGradient>
    <linearGradient
       inkscape:collect="always"
       xlink:href="#linearGradient4528"
       id="linearGradient4532"
       x1="52.038448"
       y1="126.5823"
       x2="469.63013"
       y2="126.5823"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(1.0016743,0,0,0.51855757,-0.43672349,14.475071)" />
  </defs>
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="1.979899"
     inkscape:cx="228.611"
     inkscape:cy="-8.6584943"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     inkscape:window-width="1863"
     inkscape:window-height="1056"
     inkscape:window-x="3337"
     inkscape:window-y="24"
     inkscape:window-maximized="1"
     fit-margin-top="0"
     fit-margin-left="0"
     fit-margin-right="0"
     fit-margin-bottom="0" />
  <metadata
     id="metadata7">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(-52.897811,-29.545737)">
    <rect
       style="opacity:1;fill:url(#linearGradient4532);fill-opacity:1;fill-rule:evenodd;stroke:#e3e3e3;stroke-width:1.78614306;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
       id="rect4136"
       width="414.08682"
       height="99.352943"
       x="53.790882"
       y="30.438808"
       ry="0.86069947" />
    <rect
       style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:7.09801912;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
       id="rect4138"
       width="62.857143"
       height="58.57143"
       x="82.85714"
       y="47.790775"
       ry="1.32094" />
    <text
       xml:space="preserve"
       style="font-style:normal;font-weight:normal;font-size:22.5px;line-height:1000%;font-family:Sans;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="123.86873"
       y="60.295845"
       id="text4292"
       sodipodi:linespacing="1000%"><tspan
         sodipodi:role="line"
         id="tspan4294"
         x="123.86873"
         y="60.295845"
         style="font-size:22.5px"><%=raw link_to @json["name"]["en-US"], @json["url"], target: "_blank"%></tspan></text>
    <g
       id="g6120"
       transform="translate(-13.010152,-9.979695)">
      <text
         sodipodi:linespacing="1000%"
         id="text4296"
         y="94.832108"
         x="137.31761"
         style="font-style:normal;font-weight:normal;font-size:40px;line-height:1000%;font-family:Sans;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         xml:space="preserve"><tspan
           style="font-size:17.5px;fill:#666666"
           y="94.832108"
           x="137.31761"
           id="tspan4298"
           sodipodi:role="line">v<%= @json["current_version"]["version"] %></tspan>
    </text>
    </g>

    <text
       sodipodi:linespacing="1000%"
       id="text4296-3"
       y="110.56165"
       x="70.171097"
       style="font-style:normal;font-weight:normal;font-size:40px;line-height:1000%;font-family:Sans;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       xml:space="preserve"><tspan
         style="font-size:14px;fill:#666666;fill-opacity:1"
         y="110.56165"
         x="70.171097"
         sodipodi:role="line">by </tspan><tspan
         style="font-size:14px;fill:#458bca;fill-opacity:1"><%=raw @json["authors"].map { |a| link_to a["name"], a["url"], target: "_blank"}.join(", ") %></tspan></text>

    <g
      transform="translate(0,3)">
    <% wholestars = @json["ratings"]["average"].to_f.floor %>
    <% reststars = @json["ratings"]["average"].to_f - wholestars %>
    <% for i in 1..5 %>
      <% if i <= wholestars %>
        <% img = image_path "star.png" %>
      <% elsif reststars >= 0.75 %>
        <% img = image_path "star-threequarter.png" %>
        <% reststars = 0 %>
      <% elsif reststars >= 0.5 %>
        <% img = image_path "star-half.png" %>
        <% reststars = 0 %>
      <% elsif reststars >= 0.25 %>
        <% img = image_path "star-quarter.png" %>
        <% reststars = 0 %>
      <% else %>
        <%= img = image_path "star-empty.png" %>
      <% end %>

    <image
       y="37.382259"
       x="<%= 345+(i-1)*22 %>"
       xlink:href="<%= img %>"
       preserveAspectRatio="none"
       height="18.020306"
       width="18.020306" />
    <% end %>
    <a
       id="a6116"
       xlink:href="http://reviewlink.com"
       transform="translate(10,-12)">
      <text
         sodipodi:linespacing="1000%"
         id="text4296-3-3"
         y="81.058586"
         x="440"
         style="font-style:normal;font-weight:normal;font-size:13.125px;line-height:1000%;font-family:Sans;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         xml:space="preserve"><tspan
           style="font-size:13.125px;fill:#428bca;fill-opacity:1;text-anchor:end;text-align:end"
           y="81.058586"
           x="440"
           id="tspan4298-6-6"
           sodipodi:role="line"><%= link_to @jsonReviews["count"].to_s + " user reviews", @json["url"] + "/reviews", target: "_blank"%></tspan></text>
    </a>
    <text
       xml:space="preserve"
       style="font-style:normal;font-weight:normal;font-size:13.125px;line-height:1000%;font-family:Sans;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="450"
       y="85.112381"
       id="text4296-3-3-0"
       sodipodi:linespacing="1000%"><tspan
         sodipodi:role="line"
         id="tspan4298-6-6-6"
         x="450"
         y="85.112381"
         style="font-size:13.125px;fill:#666666;fill-opacity:1;text-anchor:end;text-align:end"><%= @json["average_daily_users"] %> users</tspan></text>
    </g>
    <image
       xlink:href="<%= @json["icon_url"] %>"
       width="48.847713"
       height="48.847713"
       preserveAspectRatio="none"
       id="image6109"
       x="62.571068"
       y="38.131001" />
    <text
       xml:space="preserve"
       style="font-style:normal;font-weight:normal;font-size:11.25px;line-height:1000%;font-family:Sans;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       x="332.3598"
       y="123"
       id="text4296-5"
       sodipodi:linespacing="1000%"><tspan
         sodipodi:role="line"
         id="tspan4298-3"
         x="337.3598"
         y="123"
         style="font-size:11.25px;fill:#AAAAAA;fill-opacity:1"><a href="https://github.com/wiwie/mozilla-addon-badge" target="_blank">Mozilla Addon Badge</a></tspan></text>
  </g>
</svg>
